*{
    margin: 0;
    padding: 0;










}
.cabecalho{

    background-color: #424E61;
    color: white;
    display: flex
    flex-direction: row;
    justify-contend: space-aroud
    aling-item: center;
}
.cabecalho-imagem{

   width: 20%;
   
}
.cabecalho-lista{

    display: flex
    flex-direction: row;




}



